{
  "projectId": "your-lighthouse-project",
  "datasetId": "lighthouse",
  "apiKey": "Define-API-KEY-HERE",
  "minTimeBetweenTriggers": 300000,
  "gcs": {
    "bucketName": "lighthouse-reports"
  },
  "lighthouseFlags": {
    "output": ["html"]
  }
}
